* {
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100%;
}
/* Using !important to override inline CSS */
p span {
  color: black !important;
}
.italic-text {
  font-size: 20px;
  font-weight: bold;
}
.italic-text span {
  text-shadow: 1px 1px 0px red;
}
