* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body > div {
  width: 600px;
  height: auto;
  padding: 1rem;
  border: 2px solid red;
  border-radius: 6px;
  overflow: hidden;
}
body > div:hover {
  transform: translateY(-8px);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.8);
  border: 2px solid gold;
}
.div1 {
  background-color: lightblue;
}
.div2 {
  background-color: lightcoral;
  margin-top: 20px;
}
